*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form label{
  margin: 20px 0;
  font-size: 34px;
}

p{
  margin: 0 !important;
}

.form-select{
  padding: 0 !important;
  text-align: center;
  font-size: 25px;
}